@CHARSET "UTF-8";

*,html {
	margin: 0px;
	padding: 0px;
}

.contenedor{
	max-width: 1200px;
	margin: auto;
	
}

.usuario{
	color: #222021 !important;
    font-size: 11pt !important;
}

.nom-usuario{
	color:#675371 !important;
    font-size: 9pt !important;	
}

.selecion-foto{
	cursor: pointer;
}

#header {
top: 0px;
}
#header, #footer {
 background: none repeat scroll 0 0 #333;
    color: #f2f2f2;
    display: block;
    height: 31px;
    padding: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 9;
}

h2 {
	color: #fff;
	font-family: helvetica;
	text-align: center;
}

.li-segundo{
margin-left: 25% !important;
}

.franja{	
    height: 55px;
	left: 19px;
	position: absolute;
	top: 13px;
	width: 95.2%;
	z-index: 1;
}

	#condiciones{
		 background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	    bottom: 0;
	    color: #6a5e60;
	    font-size: 10pt;
	    height: 21px;
	    position: fixed;
	    text-align: center;
	    width: 100%;
	}
	
	#condiciones a{
	    color: #6a5e60;
	    text-decoration: none;
	}
 

.franja-actividad{	
  	height: 55px;
    left: 19px;
    position: absolute;
    top: 23px;
    width: 95.2%;
    z-index: 1;
}
.franja-izq{
    height: 55px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.8), rgba(255,255,255,0) 70%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(255,255,255,0.8), rgba(255,255,255,0) 70% ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(255,255,255,0.8), rgba(255,255,255,0) 70%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, rgba(255,255,255,0.8), rgba(255,255,255,0) 70%); /* Standard syntax (must be last) */
    width: 35%;	
    float: left;
}

.franja-der{
    height: 55px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 20%, rgba(255,255,255,0.8) ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 20%, rgba(255,255,255,0.8) ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 20%, rgba(255,255,255,0.8) ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, rgba(255,255,255,0) 20%, rgba(255,255,255,0.8) ); /* Standard syntax (must be last) */
    width: 35%;	
    float: right;
}

.logo-samsung{	
	background: url("../../imagenes/galaxy-a/01/logo_Samsung.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 56px;
    margin-right: 10px;
    width: 106px;
}

.franja-titular{
	background: url("../../imagenes/galaxy-a/02-1/franja_titulares.png") repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    color: #675371;
    float: none;
    font-size: 16pt;
    height: 80px;
    margin: auto;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
    width: 77.1%;
}


.logo-peque{
   background: url("../../imagenes/galaxy-a/02-1/logo-peque.png") repeat scroll center center rgba(0, 0, 0, 0);
    float: none;
    height: 200px;
    margin: 20px auto 25px;
    width: 280px;
}

.registro-label{	
	background: url("../../imagenes/galaxy-a/02-1/registro-label.png") no-repeat scroll -40px 0 rgba(0, 0, 0, 0);
    height: 280px;
}

#register{
	float: right;
    height: auto;
    margin-right: 20px;
    margin-top: 22px;
    width: 280px;
}

.form-group {
    margin-bottom: 0 !important;
}



body {
	background: #000;
	color: #024F9F;
	font-size: 24px;
}

.ingreso {
	overflow: hidden;
	background: #fff;
	height: 680px;
}

.logo-ingreso{
	/*background: url("../../imagenes/galaxy-a/01/logo.png") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
	background: url("../../imagenes/galaxy-a/01/logo-con-brillos.png") no-repeat scroll center -120px rgba(0, 0, 0, 0);
    height: 746px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

}

.btn-entrar {
	background: url("../../imagenes/galaxy-a/01/boton-entrar.png") repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    left: 39.2%;
    margin-top: 50px !important;
    position: absolute;
    top: 400px;
    width: 150px !important;
}

.btn-cerrar{
 	background: url("../../imagenes/galaxy-a/02/boton-cerrar.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 10px auto auto !important;
    width: 105px;
    height: 49px;
}

.bntap{
	cursor: pointer;
    float: none;    
    margin: 100px auto auto;
     width: 92px;
    height: 102px;
}

.texto-opcion {
	background: none repeat scroll 0 0 red;
	color: #fff;
	font-family: helvetica;
	margin: 3px;
	text-align: center;
	text-transform: uppercase;
}

.registro {
	margin: auto;
    width: 420px;
}

.btn-sumbit {
	background-image: url("../../imagenes/galaxy-a/02-1/boton-continuar.png");
    float: left;
    height: 63px;
    margin: auto auto auto 50px;
    width: 110px;
}

.texto-normal {
	color: #6a5e60;
    font-family: "samsung_interfacebold";
    font-size: 16pt;
    height: auto;
    line-height: 25px;
    margin: 444px auto 0;
    text-align: center;
    width: 320px;
}

	.aparecer{
		display: block !important;
	}

.inputTexto {
	   background-color: rgba(255, 255, 255, 0.5);
    padding: 0 0 0 10px;
}

input {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	height: 34px;
	width: 100%;
}

#section0 article,
#section2 article,
#section3 article,
#selfie article, 
#tematica article,
#subir article, 
#galeria article, 
#galaxy article,
#manifiesto article{
	background-image: url("../../imagenes/galaxy-a/01/centro.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#section0 article,
#section2 article,
#section3 article,
#manifiesto article,
#selfie article, 
#tematica article,
#subir article, 
#galeria article, 
#galaxy article {	
    height: 100%;
    margin: auto;
    padding-top: 1px;
    position: relative;
    top: 24px;
    vertical-align: middle;
    width: 700px;
    z-index: 1;
}
#fondo-galaxy-info article,
.slide article {
	height: 100%;
    margin: auto;
    padding-top: 1px;
    /*width: 585px;*/
    position: relative;
    width: 700px;
    z-index: 2;
    background-image: url("../../imagenes/galaxy-a/01/centro.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top:24px;
}



#manifiesto, #selfie, #tematica, #subir, #galeria, #galaxy {
	background: url(../../imagenes/galaxy-a/fondo-contenedor-info.png) 50%
		100% no-repeat;
		/* fixed*/
	background-position: center 26%;
	min-height: 500px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	/*box-shadow: 0 0 20px rgba(0,0,0,0.4);*/
	/*-webkit-background-size: cover;
	-moz-background-size: cover;*/
	background-repeat: no-repeat;
	-o-background-size: cover;
	background-size: cover;
	background-size: 600px 100%;
	height: 100%;
}

/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0,#section1,#section2,#section3,
	#manifiesto, #selfie,#tematica, #subir,
	#galeria, #galaxy {
		/*background-size: cover;*/
		background-size: 100% 100%;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section0{
		background-image: url(../../imagenes/galaxy-a/01/01_bg.jpg) !important;
		padding: 0;
	}
	#section2{
		background-image: url(../../imagenes/galaxy-a/02-1/02.1.jpg) !important;
		padding: 0;
	}
	#section3{
		background-image: url(../../imagenes/galaxy-a/02/02_bg.jpg) !important;
		padding: 0;
	}
	
	#manifiesto{	
		background-image: url("../../imagenes/galaxy-a/03-03.1/03.1_BG.jpg") !important;
    	background-repeat: no-repeat;
    	background-size: 100% 100%;
    	padding: 0;
	}
	
	#fondo-selfie{
		background-image: url(../../imagenes/galaxy-a/04/04_bg.jpg) !important;
		/*background-size:cover;*/
		background-size: 100% 100%;
		background-repeat:no-repeat;
		padding: 0;
		 
	}
	
	.fp-slidesNav{
	display: none;
	}
	
	#fondo-subir{
		background-image: url(../../imagenes/galaxy-a/06/06_bg.jpg) !important;
		/*background-size:cover;*/
		background-size: 100% 100%;
		background-repeat:no-repeat;
		padding: 0;
	}
	
	.contenedor-tomar-foto{
		margin-top: 10px !important;
	}
	
	#fondo-galeria{
		background-image: url("../../imagenes/galaxy-a/08/08_bg.jpg") !important;
		padding: 0;
		/*background-size:cover;*/
		background-size: 100% 100%;
		background-repeat:no-repeat;
	}

	#fondo-galaxy-info{
		background-image: url(../../imagenes/galaxy-a/10/10_bg.jpg) !important;
		/*background-size:cover;*/
		background-size: 100% 100%;
		background-repeat:no-repeat;
		padding: 0;
	}
	
	#slide1{		
		/*background-size:cover;*/
		background-size: 100% 100%;
		background-repeat:no-repeat;
		padding: 0;
	}
	
	#slide2{
		background-image: url("../../imagenes/galaxy-a/05/05_bg.jpg") !important;
		/*background-size:cover;*/
		background-size: 100% 100%;
		background-repeat:no-repeat;
		padding: 0;
	}
	
	#slide3{
		background-image: url("../../imagenes/galaxy-a/06/06_bg.jpg") !important;
		/*background-size:cover;*/
		background-size: 100% 100%;
		background-repeat:no-repeat;
		padding: 0;
	}
	
	#slide4{
		background-image: url("../../imagenes/galaxy-a/07/07_bg.jpg") !important;
		/*background-size:cover;*/
		background-size: 100% 100%;
		background-repeat:no-repeat;
		padding: 0;
	}
	
	.bnt-ingreso-manifiesto{
		  background-image: url("../../imagenes/galaxy-a/03-03.1/BT-enviar.png") !important;
		    background-repeat: no-repeat;
		    cursor: pointer;
		    height: 33px !important;
		    margin-top: 10px;
		    padding: 0 0 0;
		    width: 82px !important;
	}
	
	.ico-tematica{
		background-image: url(../../imagenes/galaxy-a/04/IC-tematica.png) !important;
		background-size: 100% auto;
    	height: 80px !important;    
	    margin-top: 5px;
	    width: 85px !important;
	    margin-left: 16%;
	}
	
	.ico-selfie{
		 background-image: url("../../imagenes/galaxy-a/04/IC-subir.png") !important;
	    background-size: 100% auto;
	    height: 80px !important;
	    margin-left: 11%;
	    margin-top: 5px;
	    width: 85px !important;
	}
	
	.ico-galeria{
		 background-image: url("../../imagenes/galaxy-a/04/IC-galeria.png") !important;
	    background-size: 100% auto;
	    height: 80px !important;
	    margin-left: 11%;
	    margin-top: 5px;
	    width: 85px !important;
	}
	
	.imagen-galaxy-info{
		background-image: url(../../imagenes/galaxy-a/10/telf.png) !important;
		width:126px;
		height:197px;
		float: left;
	}
	
	.texto-galaxy-info{
		 color: #6a5e60;
	    float: left;
	    font-size: 11pt;
	    height: auto;
	    margin-left: 15px;
	    text-align: left;
	    width: 377px;
	}
	
	.video-galaxy{
		background-color: #000;
	    float: none;
	    height: 300px;
	    margin: auto;
	    width: 73%;
		float: none;
	}
	
	.btn-leer-mas{
		background-image: url("../../imagenes/galaxy-a/10/boton.png") !important;
	    background-position: 100px center;
	    float: inherit;
	    height: 68px;
	    width: 118px;
	    cursor: pointer;
	}
	
	.color-acento{
	color:#6d1221;
	}
	
		
	.manifiestos-posteados{
    	  height: 450px;
	    margin: auto;
	    overflow: hidden;
	    width: 75%;
	}
	
	#mensajes{
		height: 290px;
	    margin: auto;
	    overflow: auto;
	    width: 100%;
	}
	
	.contenedor-nuevo-manifiesto{
		margin: 15px auto;
	}
	
	.selfie-info{    	
    	  height: auto;
    	margin: 20px auto;
    	width: 78%;
	}
	
	.selfie-info .posteo{
		font-size: 14pt;
	    margin: auto auto 5px;
	    line-height: 14pt;
  		width: 74%;
	}
	
	.contenedor-opciones-selfie{
 		margin: 10px auto;		
		height: 100px;
		 width: 77.3%;
	}
	
	.contenedor-opciones-selfie-marcos{
		margin: 51px auto;		
		height: 100px;
		 width: 100%;
	}
	
	.nav-tabs {
  	  border-bottom: medium none;
	}
	
	.subir-li-primero{
		margin-left: 10% !important; 
	}
	
	.contenedor-opciones-tematica{		 
	    height: auto;
	    margin: auto;
	    width: 45%;
	}
	
	.contenedor-opciones{
		float: left;
	    height: 85px;
	    margin: 70px auto 0;
	    width: 100%;
	}
	
	.acciones-subir{
		margin: auto; width:155px;
	}
	
	.cropper-container{	
		margin: auto;
		left: 0 !important;
	}
	
	.contenedor-tematica{
		 float: left;
	    height: auto;
	    margin: 10px auto 0;
	    width: 100%;
	}
	
	.galaxy-texto{
		height:400px;
    	margin: 15px auto;    	
    	width: 75%;
	}
	
	.posteo{
		color: #6a5e60;
	    font-size: 12pt;
	    margin: 15px auto 0;
	    width: 90%;
	    font-family: samsung_interfacebold;
	}
	
	.ingreso-texto{
		font-size: 11pt;
	    height: 100px;
	    resize: none;
	    width: 350px;
	}
	
	
	#menu2{
		background-color: #6a5e60;
	    display: block;
	    height: 50px;
	    list-style: none outside none;
	    margin: 50px auto 0;
		width: 77.3%;
	}
	
	
	
	.li-primero{
		/*margin-left: 60px !important;*/
		margin-left: 15% !important;
		
	}
	
	#menu2 li {	
	float:left;
	/*margin-left:10px;*/
	margin-left:6%;
	margin-right: 10px;
	 margin-top: 6px;
	}
	
	#menu2 li a{
	text-decoration: none;
	}
	
	#menu3{
		 background-color: #6a5e60;
	    display: block;
	    float: left;
	    height: 50px;
	    list-style: none outside none;
	    margin: 0 auto;
	    width: 100%;
	}
	
	#menu3 li {	
	float:left;
	margin-left:6%;
	margin-right: 10px;
	 margin-top: 6px;
	}
	
	#menu3 li a{
	text-decoration: none;
	}
	
	#menu4{
		 background-color: #6a5e60;
	    display: block;
	    float: left;
	    height: 50px;
	    list-style: none outside none;
	    margin: 0 auto;
	    width: 100%;
		}
	
	#menu4 li a{
		text-decoration: none;
	}
	
	#menu4 li {
	    float: left;
	    margin-left: 5px;
	    margin-right: 5px;
	    margin-top: 7px;
	}
	
	.bnt{
		width: 102px;
		height: 47px;
		float: left;		
	}
	
	.bnt-manifiesto{
		background-image: url(../../imagenes/galaxy-a/03-03.1/BT-manifiesto.png) !important;
		background-repeat: no-repeat;
		background-position: center;	
	}
	
	.bnt-selfie{
		background-image: url(../../imagenes/galaxy-a/03-03.1/BT-selfie.png) !important;
		background-repeat: no-repeat;
		background-position: center;	
	}
	
	.bnt-galaxy{
		background-image: url(../../imagenes/galaxy-a/03-03.1/BT-galaxy.png) !important;
		background-repeat: no-repeat;
		background-position: center;	
	}
	
	.marco-foto{
		background-image: url("../../imagenes/galaxy-a/06/cuadro_Selfie.jpg");
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    height: 360px;
	    margin: 20px auto 5px;
	    overflow: hidden;
	    padding: 8px;
	    width: 360px;
	}
	
	.action{
		height: 28px;
	    margin: auto;
	    width: 21%;
	    display: none;
	}
	
	.action2{
		height: 28px;
	    margin: auto;
	    width: 21%;
	    display: none;
	}
	
	#atras-corte, #continuar-efecto{
		display: none;
	}
	
	#btnCrop, #btnZoomIn, #btnZoomOut{
		float: left;    	
    	width: 25px;
		height: 25px;	
		cursor:pointer;
	}
	
	#btnCrop2, #btnZoomIn2, #btnZoomOut2{
		float: left;    	
    	width: 25px;
		height: 25px;	
		cursor:pointer;
	}
	
	.espera{
		position:fixed;width: 100%;height:100%;top:0;left:0;background: rgba(255,255,255,0.5);
		z-index: 2000;
		display: none;
	}
	
	.cargando{
		background-image: url("../../imagenes/galaxy-a/01/loader.gif");	    
	    height: 55px;
	    margin: 20% auto;
	    width: 54px;
	
	}
	
	.crop{
		 background-image: url("../../imagenes/galaxy-a/01/6.png");
		    background-repeat: no-repeat;	
	}
	.mas{
		 background-image: url("../../imagenes/galaxy-a/01/4.png");
   		 background-repeat: no-repeat;
	}
	.menos{
		background-image: url("../../imagenes/galaxy-a/01/5.png");
    	background-repeat: no-repeat;
	}
	
	#btnZoomIn, #btnZoomOut{
		float: right;
	}
	
	#btnZoomIn2, #btnZoomOut2{
		float: right;
	}
	
	
	#upload ul{
	display: none;
	}
	
	.subir-li-primero{
		 margin-left: 20% !important;
	}
	
	#atras-corte{
		margin-left: 20% !important;
	}
	
	#continuar-efecto´{
	margin-right: 20% !important;
	}
	
	.bnt img{
	cursor: pointer;
	}
		
	#section3 h1{
		color: #000;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}
	
	#fp-nav ul li a span, .fp-slidesNav ul li a span {
	    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	    border: 1px solid #000;
	    border-radius: 50%;
	    height: 20px;
	    left: 2px;
	    position: absolute;
	    top: 2px;
	    width: 20px;
	    z-index: 1;
	}
	
	.opcion-tematica{	
	  	    background-image: url("../../imagenes/galaxy-a/05/RECUADRO_TEMAS.png");
		    background-repeat: no-repeat;
		    background-size: 100% auto;
		    color: #6a5e60;
		    float: none;
		    font-size: 10pt;
		    margin-bottom: 20px;
		    margin-left: 10px;
		    padding-bottom: 4px;
		    padding-left: 10px;
		    padding-top: 8px;
		    text-align: left;
		    width: 100%;
	}
	
	.flecha-abajo{
	display: none;
	}
	
	.fp-controlArrow {
	   display: none;    
	}
	
	.contenedor-foto-cargada{
	 	 height: 650px;
	    left: 11%;
	    position: absolute;
	    top: 50px;
	    width: 78.3%;
	    z-index: 4;		
	}
	
	.izq{
		float: right !important;
		 margin-right: 20% !important;
	}
	
	.imagen-muestra{
		float: left;
	    margin: 40px auto 0;
	    width: 70%;
	}
	
	.imagen-cargada{
		 background-image: url("../../imagenes/galaxy-a/07/recuadro_selfie.png");
	    background-repeat: no-repeat;
	    background-size: 100% 100%;
	    height: 356px;
	    margin: 150px auto 25px;
	    overflow: hidden;
	    padding: 5px;
	    width: 354px;
	}
	
	#continuar-compartir{
		display: none;
	}
	.posicionImagen{
		left: 20px;
	    position: absolute;
	    top: 196px;
	}
	
	.marcoSelecion{
	    left: 19px;
	    overflow: hidden;
	    position: absolute;
	    top: 195px;
	    width: 343px;
	}
	
	.objeto-muestra{
		float: left;
	    height: 80px;
	    margin: 5px 5% auto;
	    overflow: hidden;
	    width: 90%;
	}
	
	.marcoSelecion img{
		width: 100%;	
	}
	
	.objeto-muestra img {
		width: 60%;
	}
	
	.opciones-imagen{
 		background-color: #6a5e60;
	    float: right;
	    height: 100%;
	    margin: 97px auto 0;
	    overflow: auto;
	    width: 30%;
	  }
	  
	  .contenedor-galeria{
		height: 300px;
	    margin: auto auto 20px;
	    overflow: auto;
	    width: 90%;
	  }
	  
	  .efectos{
	    height: auto;
	    margin: auto auto 15px;
	    overflow: hidden;
	    width: 350px;
	    display: none;
	  }
	  
	  .imagen-compartir{
	    background-image: url("../../imagenes/galaxy-a/09/share.jpg");
	    cursor: pointer;
	    float: left;
	    height: 20px;
	    width: 20px;
	  }
	  
	  .imagen-galeria{
	  	float: left;
	    height: 140px;
	    margin-right: 13px;
	    margin-top: 10px;
	    width: 30%;
	  }
	  
	  .imagen{
	     float: left;
	    height: 120px;
	    overflow: hidden;
	    width: 100%;
	  }
	  
	  /****************************/
	  .contenedor-postear-muro{
		 background-color: rgba(255, 255, 255, 0.5);
	    height: 100%;
	    left: 0;
	    position: fixed;
	    top: 0;
	    width: 100%;
	    display: none;
	}
	
	.fondo-posteo{
	   background-color: #fff;	    
	    height: 316px;
	    margin: 10% auto;
	    width: 574px;    
	}
	
	.titulo-posteo{	
    background-color: #6a5e60;
    color: #fff;
    float: left;
    font-size: 12pt;
    height: 32px;
    margin-left: 0;
    padding-left: 15px;
    padding-top: 5px;
    width: 100%;
	}
	
	.cuadrotexto-ingreso{	 
	    float: left;
	    height: 75px;
	    margin-left: 4%;
	    margin-top: 1%;
	    width: 91%;
	}
	.imagen-postear{
	  border: medium none;
	    float: left;
	    height: 180px;
	    margin-left: 4%;
	    margin-top: 2%;
	    width: 180px;
	}
	
	.texto-informativo-posteo{
		color: #646466;
	    float: left;
	    font-size: 14px;
	    height: 60px;
	    margin-left: 1%;
	    margin-top: 2%;
	    padding-left: 3px;
	    width: 50%;
	}
	.btn-elegir-amigo{
	cursor: pointer;
	    float: left;
	    font-size: 11pt;
	    height: 21px;
	    margin-left: 1%;
	    width: 129px;
	}
	.btn-postear{
		background-image: url("../../imagenes/galaxy-a/01/PUBLICAR.png");
		 cursor: pointer;
	    float: right;
	    font-size: 12pt;
	    height: 47px;
	    margin-right: 25px;
	    margin-top: 64px;
	    width: 102px;
	}
	
	.caja-texto{
		 border: 1px solid #000;
	    color: #646466;
	    float: inherit;
	    font-size: 12pt;
	    height: 100%;
	    resize: none;
	    text-align: left;
	    width: 100%;
	}
	
	.btn-cancelar-postear{
		background-image: url("../../imagenes/galaxy-a/01/CANCELAR.png");
		cursor: pointer;
	    float: right;
	    font-size: 12pt;
	    height: 47px;
	    margin-right: 5px;
	    margin-top: 64px;
	    width: 102px;
	}
	  
	  .mas-zoom{
  	float: left;
  	width: 40px;
  	height: 40px;
  	text-align: center;
  	background-image: url("../../imagenes/galaxy-a/01/mas.png");
  	
  }
  
  .menos-zoom{
  	float: left;
  	width: 40px;
  	height: 40px;
  	text-align: center;
  	background-image: url("../../imagenes/galaxy-a/01/menos.png");
  }
	  
	  
	  .nav-tabs > li {
	    float: left;
	    margin-bottom: -1px;
	    width: 50%;
	}
	
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-top-colors: none;
	    background-color: transparent;
	    border-image: none;
	    border-style: solid;
	    border-width: 0;
	    color: #fff;
	    cursor: default;
	    font-size: 14px;
	}
	
	.nav-tabs > li > a:hover {
		background-color: transparent;
		color:#fff;
	}
		
	.nav-tabs > li > a:hover, nav > li > a:focus {
		background-color: transparent;
		color:#fff;
		}
		
	.nav-tabs > li > a {
	    border-radius: 4px 4px 0 0;
	    line-height: 1.42857;
	    margin-right: 2px;
	}
	.nav > li > a {
	    display: block;
	    padding: 0;
	    font-size: 14px;
	    position: relative;
	    text-align: center;
	    color: #fff;
	}
	/*******************************/  
	  .color-titular{
	background-color: #6A5E60;
	color: #fff;
}

.boton-acion{
	float: left;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
  .contenedor-drag{
 	 background-color: transparent;
    height: 343px;
    left: 19px;
    position: absolute;
    top: 196px;
    width: 343px;
    display: none;
  }
  
.modal-dialog{
	width:700px !important;
	}

#drag-me {
	  width: 330px;
	  height: auto;
	  margin: 0;	  
	  color: white;
	  border-radius: 0;
	  padding: 0%;	  
	  -webkit-transform: translate(0px, 0px);
	          transform: translate(0px, 0px);
	}
	

  .controles{
	  height: 30px;
    left: 27%;
    position: absolute;
    top: 550px;
    width: 100px;
	 display: none;
  }
  
  
	  
	  
	  
	  
	


