@font-face {
  font-family: 'samsung_s_sharp';
  src: url('samsung_s_sharp.eot?#iefix') format('embedded-opentype'),    url('samsung_s_sharp.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
