body {
    font-family: 'Roboto-Light';
    color: #fff;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

a, a:hover, a:visited {
    color: #ffffff;
}

a:hover, a:visited {
    font-weight: bold;
}

.roboto-light {
    font-family: 'Roboto-Light';
}

.roboto-bold {
    font-family: 'Roboto-Bold';
}

#webcam {
    float: left;
}

.fondo-home,
.fondo-instrucciones,
.fondo-recorder,
.fondo-galeria,
.fondo-registro {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    padding-top: 5%;
}

.fondo-recorder {
    padding-top: 2%;
}

.fondo-home {
    background-image: url("../../imagenes/karaokegalaxya/home/fondo_home.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.fondo-instrucciones {
    background-image: url("../../imagenes/karaokegalaxya/intrucciones/fondo_intrucciones.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.fondo-recorder {
    background-image: url("../../imagenes/karaokegalaxya/web-cam/fondo_webcam.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.fondo-galeria {
    background-image: url("../../imagenes/karaokegalaxya/galeria/fondo_galeria.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.fondo-registro {
    background-image: url("../../imagenes/karaokegalaxya/registro/fondo_registro.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.logo-samsung-galaxya {
    margin-left: 20px;
    margin-top: 30px;
}

.logo-samsung {
    margin-right: 20px;
    margin-top: 30px;
}

.terminos-condiciones {
    text-align: center;
    font-size: 12px;
    position: absolute;
    width: 100%;
    bottom: 15px;
}

.btn-home-instrucciones, .btn-home-subir-video, .btn-home-galeria, .btn-home-home {
    cursor: pointer;
    font-size: 13px;
}

.logo-karaoke img, .logo-karaoke-galeria img, .btn-home-instrucciones img, .btn-home-subir-video img, .btn-home-galeria img {
    margin: 0 auto;
}

.logo-karaoke {
    padding-bottom: 70px;
}

.logo-karaoke-galeria {
    padding-bottom: 0px;
}

p.texto-home {
    font-size: 22px;
    padding-top: 60px;
}

.titulo {
    font-size: 24px;
}

.titulo-der {
    font-size: 24px;
}

.titulo p {
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.texto20 {
    font-size: 20px;

}

.conten-instrucciones {
    margin: 30px 5%;
    padding: 30px 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.imagen-galeria {
    margin: 0 auto 20px;
}

#galeria-imagenes {
    margin: 10px 0;
    display: inline-block;
}

#webcam-container, #mediaplayer-container {
    width: 480px;
}

#recordStartButton {
    margin: 0 auto;
    width: 150px;
    display: block;
    padding: 20px 0 6px;
}

p.texto-interno {
    font-size: 22px;
}
